.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
button{
    background-color: black;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}